.add-form-wrapper {
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  background: rgba(86, 86, 86, 0.3);
}

.add-form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  top: 10%;
  width: 25%;
  margin: auto;
}

.add-form-title {
  color: #455266;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
}

.add-form-parameter {
  color: #455266;
  margin-top: 13px;
}

.form-button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cancel-button {
  font-size: 14px;
  width: 115px;
  height: 26px;
  background: #f0f0f0;
}

.add-button {
  font-size: 14px;
  width: 115px;
  height: 26px;
  background: #e9ffe3;
}
